{% load static %}

 <header class="fixed-top">
  <div class="navbar bg-white align-items-stretch p-0">
    <div class="col col-sm-4 pl-0 d-flex align-items-center">
      <a class="navbar-brand py-1 px-2 px-md-3" href="{% url 'home' %}"><img src="{% static 'images/artreart-red.png' %}" alt="ART/RE/ART" height="75" class="navbar__logo" /></a>
    </div>
    <div class="col col-sm-4 navbar__date p-1 d-flex flex-column align-items-center justify-content-center">
      <small class="font-2 text-uppercase font-weight-bold">Next Show:</small>
      <button
        type="button"
        class="p-0 bg-transparent"
        data-toggle="popover"
        data-trigger="focus"
        data-placement="bottom"
        title="{{ latest_event.datetime|date:'P' }}" data-content="{{ latest_event.location.street}}, {{ latest_event.location.city }}, {{ latest_event.location.state }} {{ latest_event.location.postal }}"
      >
        {{ latest_event.datetime|date:'N jS, Y' }}
      </button>
    </div>
    <div class="col col-sm-4 d-flex align-items-stretch justify-content-end pr-0">
      <button id="hamburger" class="hamburger d-flex align-items-center border-0 bg-transparent text-primary px-3 py-1" type="button" aria-controls="menu" aria-expanded="false" aria-label="Toggle menu">
        <span id="hamburgerOpen">MENU</span>
        <span id="hamburgerClose">CLOSE</span>
      </button>
    </div>
  </div>
  <div id="menu" class="menu bg-primary">
    <div class="menu__wrapper d-flex justify-content-stretch align-items-stretch"></div>
  </div>
</header>
