{% load static %}

 <header class="fixed-top">
  <nav class="navbar bg-white">
    <a class="navbar-brand" href="/"><img src="{% static 'images/artreart-red.png' %}" alt="ART/RE/ART" height="75" /></a>
    <div class="navbar__date">Oct 5th 2019</div>
    <button class="hamburger h-100" type="button" aria-controls="menu" aria-expanded="false" aria-label="Toggle menu">
      <div class="hamburger__lines">
        <div class="hamburger__line hamburger__line--1"></div>
        <div class="hamburger__line hamburger__line--2"></div>
        <div class="hamburger__line hamburger__line--3"></div>
      </div>
    </button>
  </nav>
</header>
