{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    {% for artist in artists %}
    <div class="col-sm-4 py-5">
      <div class="card w-100">
        <div class="card-img-top text-center">
          <a href="{{ artist.api_url }}" target="_blank">
            {{ artist.qrcode|safe }}
          </a>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ artist.name }}</h5>
          <p class="card-text">{{ artist.medium.all|join:", " }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
