// Fonts
$primary-font: 'Inconsolata', monospace;
$secondary-font: 'Open Sans', sans-serif;
$icon-font: Fontisto;

// Colors
$white: #fff;
$black: #000;
$dark-grey: #5a5a5a;
$brand: red;

// Logo
$logoHeight: 50px;
$logoHeight-sm: 40px;
