@import '_variables';
@import '_placeholders';
@import '_mixins';

// ============================
// Navbar
// ============================

.navbar {
  border-bottom: 3px solid transparent;
  transition: border-color .2s;

  &.navbar--scrolled {
    border-color: black;
  }
}

// ============================
// Hamburger
// ============================

#hamburgerClose {
  display: none;
}


// ============================
// Main Menu
// ============================

.menu {
  // @extend %absolute;
  height: 100vh;
  width: 100%;
  // z-index: -1;
  display: none;
  overflow: auto;
  // padding-top: $logoHeight-sm;

  &__wrapper {
    width: 100%;
    // min-height: calc(100vh - $logoHeight-sm);
    flex: 1;
  }
}

