@import '_variables';
@import '_placeholders';
@import '_mixins';

// ============================
// Navbar
// ============================

.navbar {
  border-bottom: 3px solid transparent;
  transition: border-color .2s;

  &.navbar--scrolled {
    border-color: $black;
  }
}
