.ant-layout-sider {
  overflow: hidden;
  height: 100vh;
  position: fixed;
  left: 0;

  @media (max-width: 1023.98px) {
    display: none;
  }

  .ant-layout-sider-children {
    display: flex;
    flex-direction: column;
  }

  .ant-menu {
    margin-top: auto;
    margin-bottom: auto;
  }
}
