.ant-layout-footer {
  padding: 1.5rem;

  @media (min-width: 993px) {
    padding: 3rem;
  }
}

.footer__heading {
  margin-bottom: 1rem;
  font-size: 2.2rem;
  font-weight: bold;

  @media (min-width: 993px) {
    font-size: 3rem;
  }
}

@keyframes transform-right {
  from {
    transform: scaleX(0);
  }

  to {
    transform: scaleX(1);
  }
}

@keyframes transform-left {
  from {
    transform: scaleX(1);
  }

  to {
    transform: scaleX(0);
  }
}

.footer__link {
  font-size: 1.9rem;
  margin-bottom: 1em;
  color: black;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background: rgba(0, 0, 0, 1);
    transform-origin: left;
    animation: transform-left 300ms normal forwards;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background: rgba(0, 0, 0, 0.2);
  }

  &:hover {
    color: black;

    &::before {
      animation: transform-right 300ms normal forwards;
    }
  }
}
