// Nav
.ant-layout-sider {
  z-index: 900;
}

.ant-layout-sider-zero-width-trigger {
  top: 0;
  right: 0;
  position: fixed;
  font-size: 1.5rem;
}

.ant-layout-sider-light .ant-layout-sider-zero-width-trigger {
  background: black;
  color: red;
}

// Fonts

.ant-typography h2,
h2.ant-typography {
  @media (max-width: 768px) {
    font-size: 2em;
  }
}

// Layout

.container {
  padding: 2em;
  margin: 2em;
  background-color: white;

  @media (max-width: 768px) {
    margin: 1em;
    padding: 1em;
  }
}

.content {
  @media (min-width: 993px) {
    margin-left: 200px;
  }
}

// Footer

.footer {
  border-top: 10px solid black;
}
