// Nav
.ant-layout-sider {
  z-index: 900;
}

.ant-layout-sider-zero-width-trigger {
  top: 0;
  right: 0;
  position: fixed;
  font-size: 1.5rem;
}

.ant-layout-sider-light .ant-layout-sider-zero-width-trigger {
  background: black;
  color: red;
}

// Layout

.container {
  padding: 2em;
  margin: 2em;
  background-color: white;
}

.content {
  @media (min-width: 993px) {
    margin-left: 200px;
  }
}

// Footer

.footer {
  border-top: 10px solid black;
}
