@import '_variables';
@import '_placeholders';
@import '_mixins';

.footer {
  border-top: 3px solid $black;
}

// ============================
// Footer Links
// ============================

.footer__link {
  position: relative;
  padding-bottom: 1rem;
  font-size: 1.2rem;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: $brand;
    transition: bottom .2s;
  }

  &:hover::after {
    bottom: 15px;
  }
}

// ============================
// Footer Sign Up
// ============================

.footer__input {
  background: $brand;
  border: 2px solid $brand;
  transition: background .2s;
  color: $white;
  padding: .5rem 1rem;
  font-size: 1.2rem;

  &::placeholder {
    color: $black;
  }

  &:focus {
    background: $black;
    box-shadow: none;
  }
}
