.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 15px;
  cursor: pointer;
  transition: color 0.3s;
  position: fixed;
  top: 0;
  right: 0;
  background: black;
  color: white;
  z-index: 2000;
  line-height: 18px;
}

.trigger:hover {
  color: #ff0000;
}

.ant-layout-sider {
  border-right: 10px solid black;
  overflow: hidden;
  height: 100vh;
  width: 190px;
  position: fixed;
  left: 0;

  // @media (max-width: 992px) {
  //   width: 100vw !important;
  //   min-width: 100vw !important;
  // }

  .ant-layout-sider-children {
    display: flex;
    flex-direction: column;
  }
}

.sidebar-logo {
  padding: 15px;
  text-align: center;
  height: 280px;

  &__image {
    width: 150px;

    // @media (min-width: 715px) {
    //   width: 250px;
    // }

    @media (min-width: 993px) {
      width: 200px;
      transform: rotate(-90deg);
      transform-origin: 50% 100%;
    }

    @media (min-width: 1200px) {
      width: 300px;
    }

    @media (min-width: 1600px) {
      width: 500px;
    }
  }
}

.ant-menu {
  @media (min-width: 993px) {
    margin-top: auto;
  }
}

.sidebar-event {
  padding: 1em;
  background: black;
  color: white;
  width: 190px;

  @media (max-width: 992px) {
    margin-top: auto;
  }

  &__title {
    font-size: "1.4em";
    font-weight: "bold";
  }
}
