.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 15px;
  cursor: pointer;
  transition: color 0.3s;
  position: fixed;
  top: 0;
  right: 0;
  background: black;
  color: white;
  z-index: 2000;
  line-height: 18px;
}

.trigger:hover {
  color: #ff0000;
}

.ant-layout-sider {
  border-right: 10px solid black;
  overflow: hidden;
  height: 100vh;
  width: 190px;
  position: fixed;
  left: 0;

  &:not(.ant-layout-sider-zero-width) {
    @media (max-width: 992px) {
      width: 100vw !important;
      min-width: 100vw !important;
    }
  }

  .ant-layout-sider-children {
    display: flex;
    flex-direction: column;
  }
}

.sidebar-logo {
  padding: 15px;
  text-align: center;
  height: 280px;
  text-align: center;

  @media (min-width: 993px) {
    text-align: right;
    padding: 15px 0;
  }

  img {
    // min-width: 150px;
    max-width: 100%;
    height: auto;
    width: auto;
  }

  &__image-rotated {
    display: none;
    margin-left: auto;

    @media (max-height: 800px) {
      max-height: 250px;
      margin-right: auto;
      width: auto;
    }

    @media (min-width: 993px) {
      width: 200px;
      display: block
    }

    @media (min-width: 1200px) {
      width: 300px;
    }

    @media (min-width: 1600px) {
      width: 500px;
    }
  }

  &__image {
    @media (min-width: 993px) {
      display: none;
    }
  }
}

.ant-menu {
  @media (min-width: 993px) {
    margin-top: auto;
  }
}

.sidebar-event {
  padding: 1em;
  background: black;
  color: white;
  width: 190px;

  @media (max-width: 992px) {
    margin-top: auto;
    width: 100%;
  }

  &__title {
    font-size: "1.4em";
    font-weight: "bold";
  }
}
