.transition--fadeup {
  &-enter-initial,
  &-enter,
  &-appear {
    opacity: 0;
    transform: translateY(100px);
  }

  &-enter-done,
  &-enter-active,
  &-appear-active {
    opacity: 1;
    transform: translateY(0px);
    transition: opacity 1000ms, transform 1000ms;
  }

  &-exit-done,
  &-exit {
    opacity: 1;
    transform: translateY(0px);
  }

  &-exit-active {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1000ms, transform 1000ms;
  }
}

.transition--fade {
  &-enter-initial,
  &-enter,
  &-appear {
    opacity: 0;
  }

  &-enter-done,
  &-enter-active,
  &-appear-active {
    opacity: 1;
    transition-duration: 500ms;
    transition-property: opacity;
  }

  &-exit-done,
  &-exit {
    opacity: 1;
  }

  &-exit-active {
    opacity: 0;
    transition-duration: 500ms;
    transition-property: opacity;
  }
}

.transition--growdown {
  &-enter-initial,
  &-enter,
  &-appear {
    height: 0vh;
  }

  &-enter-done,
  &-enter-active,
  &-appear-active {
    height: 100vh;
    transition-duration: 500ms;
    transition-property: height;
    transition-timing-function: ease-out;
  }

  &-exit-done,
  &-exit {
    height: 100vh;
  }

  &-exit-active {
    height: 0vh;
    transition-duration: 500ms;
    transition-property: height;
    transition-timing-function: ease-out;
  }
}
