.hamburger {
  &__button {
    font-size: 18px;
    line-height: 64px;
    padding: 15px;
    transition: color 0.3s;
    position: fixed;
    top: 0;
    right: 0;
    background: black;
    color: white;
    z-index: 9999;
    line-height: 18px;

    &:hover {
      color: #ff0000;
    }
  }

  &__overlay {
    width: 100vw;
    height: 100vh;
    background: black;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 2em;
    position: fixed;
    z-index: 9998;
    flex-direction: column;
  }
}

.overlay {
  padding: 2em;

  &__logo {
    max-width: 400px;
    height: auto;
    display: block;
    margin-bottom: 2em;
  }

  &__link {
    color: white;
    font-size: 1.8em;
    margin-right: 0.5em;
  }
}
