{% extends "base.html" %}
{% load static crispy_forms_tags %}

{% block title %}Artist Signup{% endblock %}

{% block body %}
  <div class="container my-5">
    <div class="row">
      <div class="col">
        <h1>Artist Signup</h1>
        <p>Want to participate in our next event? Tell us about yourself and what you want to submit!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <h2>Artist</h2>
        {% crispy form %}
      </div>
      <div class="col-sm-6">
        <h2>Work</h2>
        {% crispy formset %}
      </div>
    </div>
  </div>
{% endblock %}
